{% extends "layout.html" %}

{% block title %}
    Adicionar produto
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-2">
            <select class="custom-select" name="seller">
                <option selected disabled value="">Fornecedor...</option>
                {% for seller in sellers %}
                    <option value="{{ seller }}">{{ seller }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-2">
            <input autocomplete="off" name="product_name" placeholder="Nome do produto" type="text">
        </div>
        <div class="mb-2">
            <select class="custom-select" name="product_type">
                <option selected disabled value="">Categoria...</option>
                {% for product_type in types %}
                    <option value="{{ product_type }}">{{ product_type }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-2">
            <input autocomplete="off" name="product_quantity" placeholder="Quantidade" type="number">
        </div>
        <div class="mb-2">
            <input autocomplete="off" name="unit_price" placeholder="Preço unitário" type="number" step="0.01">
        </div>
        <div class="mb-2">
            <input autocomplete="off" name="date" placeholder="Data" type="date">
        </div>
        <div class="mb-2">
            <button class="btn" type="submit">Adicionar produto</button>
        </div>
    </form>
{% endblock %}